@import url(http://fonts.googleapis.com/css?family=Fira+Mono);

/* Global
--------------------------------------------- */

* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  text-decoration: none;
}

body {
	font: 14px/24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #36424c;
	letter-spacing: 1px;
}

a { 
	color: #d5d5d5; 
	font-weight: bold;
}

a:hover {
	color: #637f96;
}

/* Content
--------------------------------------------- */
#left-panel-link {
	border-radius: 0 15% 15% 0;
	color: #f39c12;
	padding: 15px 20px;
	float: left;
	background-color: #ecf0f1;
	font-size: 1.5em;
}

#wrapper {
	width: 1100px;
	margin: 80px auto;
}

h1 { 
	color: #61e69d; 
	text-align: center;
}

p { 
	text-align: center;
	color: #d5d5d5;
}

form { 
	width: 100%;
	margin: 0 auto;
	text-align: center;
	}

	.text-wrapper {
		width: 50%;
		float: left;
	}

	textarea { 
		float: left;
		color: #6c6c6c;
		font: 14px "Fira Mono", Courier New, Courier, sans-serif;
		margin: 0 10px 0 0;
		width: 95%;
		min-height: 60vh;
		border-radius: 5px;
		padding: 20px;
		outline: none;
		resize: vertical;
	}

	#output { background-color: #d5d5d5; }

	.form-footer {
		width: 100%;
		float: left;
	}

	button {
		margin: 20px auto 0 auto;
		display: inline-block;
		padding: 15px 20px;
		background-color: #61e69d;
		color: #36424c;
		text-decoration: none;
		border-radius: 5px;
		font-size: 20px;
		border: 0;
		outline: none;
	}

	button:hover {
		background-color: #f3de6a;
	}


footer {
	float: left;
	overflow: hidden;
	width: 100%;
	margin: 60px 0 0 0;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.panel {
	display: none;
	width: 220px;
	padding: 20px;
	background-color: #333;
	color: #fff;
}