@import url(http://fonts.googleapis.com/css?family=Fira+Mono);

/* Global
--------------------------------------------- */

* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  text-decoration: none;
}

body {
	font: 14px/24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	background-color: #36424c;
}

a {
	font-weight: bold;
	color: #d5d5d5;
}

a:hover {
	color: #637f96;
}

/* Content
* 
--------------------------------------------- */
#menu-btn {
	float: left;
	padding: 15px 20px;
	font-size: 1.5em;
	color: #f39c12;
	background-color: #ecf0f1;
	border-radius: 0 15% 15% 0;
}

#wrapper {
	width: 1100px;
	margin: 80px auto;
}

h1 {
	color: #61e69d;
	text-align: center;
}

p {
	color: #d5d5d5;
	text-align: center;
}

form {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.text-wrapper {
	float: left;
	width: 50%;
}

textarea {
	float: left;
	width: 95%;
	min-height: 60vh;
	padding: 20px;
	margin: 0 10px 0 0;
	font: 14px "Fira Mono", Courier New, Courier, sans-serif;
	color: #6c6c6c;
	resize: vertical;
	border-radius: 5px;
	outline: none;
}

#output {
	background-color: #d5d5d5;
}

.form-footer {
	float: left;
	width: 100%;
}

button {
	display: inline-block;
	padding: 15px 20px;
	margin: 20px auto 0 auto;
	font-size: 20px;
	color: #36424c;
	text-decoration: none;
	background-color: #61e69d;
	border: 0;
	border-radius: 5px;
	outline: none;
}

button:hover {
	background-color: #f3de6a;
}

footer {
	float: left;
	width: 100%;
	margin: 60px 0 0 0;
	overflow: hidden;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.data {
	display: none;
	width: 300px;
	padding: 20px;
	color: #fff;
	background-color: #333;
}

#recent-css {
	padding-left: 0;
	list-style: none;
}

#recent-css li {
	margin-bottom: 1em;
}

.recent-btn {
	display: inline-block;
	padding: 4px 10px;
	font-size: 13px;
	color: #36424c;
	letter-spacing: 1.3px;
	background-color: #61e69d;
	border-radius: 4px;
}

.delete {
	background-color: #f39c12;
}